
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Face recognition</h3>
    <h4>Press one of the buttons below.</h4>
    <input type="button" title="Submit" value="Picture1" width="25" id="callFace1"/>
    <input type="button" title="Submit" value="Picture2" width="25" id="callFace2" />
    <input type="button" title="Submit" value="Picture3" width="25" id="callFace3" />
    <input type="button" title="Submit" value="Picture4" width="25" id="callFace4" />
    <input type="button" title="Submit" value="Picture5" width="25" id="callFace5" />
    <input type="button" title="Submit" value="Dog" width="25" id="callFace6" />
    <h4>...or enter a URL to a picture below.</h4>

    <input type="text" title="Submit" value="Send URL" style="width:100%" id="imageUrl" />

    <script src="~/JS/AJAX_Anrop.js"></script>

</body>
</html>

<!--
Att skapa <input type = "button" />
    https://msdn.microsoft.com/en-us/library/ms535261(v=vs.85).aspx
    https://msdn.microsoft.com/en-us/library/ms535145(v=vs.85).aspx 
    
-->