
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Face API 2</h3>
    <input type="button" title="Submit" value="Test" width="25" id="callFace"/>
    <div id="resultatText"></div>
    <script src="~/JS/AJAX_Anrop.js"></script>
</body>
</html>

<!--
Att skapa <input type = "button" />
    https://msdn.microsoft.com/en-us/library/ms535261(v=vs.85).aspx
    https://msdn.microsoft.com/en-us/library/ms535145(v=vs.85).aspx 
    
-->