
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Face recognition</h3>
    <h4>Press one of the buttons below.</h4>
    <input type="button" title="SubmitPicture" name="https://tommyhansson.files.wordpress.com/2012/06/bjorn-borg.jpg" value="Picture1" width="25" id="callFace1"/>
    <input type="button" title="SubmitPicture" name="https://felicitasetamor.files.wordpress.com/2014/10/moder-teresa.jpg" value="Picture2" width="25" id="callFace2" />
    <input type="button" title="SubmitPicture" name="http://www.kollega.se/sites/default/files/styles/bild_w767/public/angelachef.jpg" value="Picture3" width="25" id="callFace3" />
    <input type="button" title="SubmitPicture" name="http://www.veteranstoday.com/wp-content/uploads/2013/07/winston-churchill.jpg" value="Picture4" width="25" id="callFace4" />
    <input type="button" title="SubmitPicture" name="https://commonsblog.files.wordpress.com/2009/12/sitting_bull.jpg" value="Picture5" width="25" id="callFace5" />
    <input type="button" title="SubmitPicture" name="http://www.zastavki.com/pictures/originals/2012/Animals_Dogs_Nice_collie_dog_035323_.jpg" value="Dog" width="25" id="callFace6" />
    <h4>...or enter a URL to a picture below.</h4>

    <input type="text" title="ImageUrl" value="Send URL" style="width:100%" id="imageUrl" placeholder="https://www.image.jpg"/>
    <input type="button" title="Submit" value="Get Face Data :-)" style="width:100%" id="callFace7" />
    <h4>Here is the image and its attributes will be shown after submitting one of the buttons.</h4>
    <div id="resultImage"></div>
    <script src="~/JS/AJAX_Anrop.js"></script>
</body>
</html>

<!--
Att skapa <input type = "button" />
    https://msdn.microsoft.com/en-us/library/ms535261(v=vs.85).aspx
    https://msdn.microsoft.com/en-us/library/ms535145(v=vs.85).aspx 
    
-->